.nav {
    background-color: black;
    border-bottom: 1px solid #262626;
    padding: 20px 20px;

    a {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        line-height: 18.46px;


        &:hover {
            background: linear-gradient(63.68deg, #ADA785 0%, #D6D3C2 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .nav__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .logo__content {
            display: flex;
            align-items: center;
            gap: 127px;
        }

        .nav__links {
            display: flex;
            align-items: center;
            gap: 80px;
        }

        .nav__btns {
            .nav__link {
                margin-right: 40px;
                line-height: 40px;
            }
        }
    }
}