@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


.header {
    padding: 100px;

    .header__title {
        font-size: 95.95px;
        font-weight: 300;
        line-height: 115.14px;
        letter-spacing: -0.06em;
        color: #E5E5E5;

        span {
            background: linear-gradient(63.68deg, #ADA785 0%, #D6D3C2 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .header__desc {
        margin-top: 40px;
        color: #fff;
        font-size: 16px;
        font-weight: 300;
        line-height: 28.8px;
        text-align: justify;
    }

    .header__btn {
        margin-top: 58px;
        padding: 14px 24px;
    }

    .header__left-content {
        .left__footer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr 1fr;
            padding-top: 98px;
            column-gap: 40px;
            row-gap: 20px;


            .info {
                display: flex;
                align-items: center;
                gap: 40px;
                position: relative;

                &:after {
                    content: "";
                    width: 100%;
                    height: 2px;
                    border: 1px solid;
                    position: absolute;
                    bottom: -1px;
                    background: linear-gradient(270deg, #262626 0%, #ADA785 87.01%, #262626 100%);
                }

                h1 {
                    font-size: 59.3px;
                    font-weight: 300;
                    line-height: 78.21px;
                    letter-spacing: -0.04em;
                }

                .desc {
                    color: #E5E5E5;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 28.8px;
                }
            }
        }
    }

    .header__right-content {
        position: relative;

        .header__bg-blur {
            background-color: #FFD700;
            border-radius: 50%;
            position: absolute;
            box-shadow: 0px 0px 1000px #FFD700;
            width: 300px;
            height: 300px;
            filter: blur(200px);
            left: 300px;
            bottom: 300px;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                background: radial-gradient(circle, #FFD700, transparent);
                border-radius: 50%;
                transform: translate(-50%, -50%);
                filter: blur(30px);
                z-index: -1;
            }
        }
    }
}

.customer__section {
    .customer__header-content {
        padding-bottom: 140px;
        padding-top: 116.5px;

        .customer__subtitle {
            color: #ADA785;
            font-size: 22.65px;
            font-weight: 400;
            line-height: 29.87px;
        }

        .customer__title {
            font-size: 59.3px;
            font-weight: 400;
            line-height: 78.21px;
            letter-spacing: -0.04em;

            span {
                color: #ADA785;
            }
        }

        .customer__header-desc {
            font-size: 16px;
            font-weight: 400;
            line-height: 21.1px;
            color: #E5E5E5;
        }

        text-align: center;
        color: #fff;
    }

    .customer__content {
        .customer__card {
            .customer__card-header {
                display: flex;
                gap: 40px;
                align-items: center;

                .card__img {
                    width: 70px;
                    height: 70px;
                    position: relative;
                    background-image: url("../../../../assets/images/avatar.png");
                }

                .card1 {
                    &::after {
                        content: url('../../../../assets/images/logo (4).svg');
                        position: absolute;
                        right: -12px;
                        bottom: -10px;
                    }
                }

                .card__header-text {
                    h6 {
                        font-size: 22.65px;
                        font-weight: 700;
                        line-height: 29.87px;
                        color: #fff;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 18.46px;
                        color: #E5E5E5;
                    }
                }
            }

            .customer__card-body {
                p {
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 28.8px;
                    color: #fff;
                }
            }
        }
    }
}

.feature__section {
    padding-top: 104px;

    .subtitle {
        color: #ADA785;
        font-size: 22.65px;
        font-weight: 400;
        line-height: 29.87px;
    }

    .feature__title {
        color: #fff;
        font-size: 59.3px;
        font-weight: 400;
        line-height: 78.21px;
        letter-spacing: -0.04em;

        .title-top {
            color: #ADA785;
        }
    }

    .feature__desc {
        color: #E5E5E5;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.1px;
        padding-bottom: 140px;
    }

    .feature__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 40px;
        row-gap: 60px;

        .feature__card {
            border-radius: 60px;
            padding: 60px 40px;
            border: 1.62px solid;

            .close:hover {
                cursor: pointer;
            }
        }

        .card1 {
            grid-column: 1 / span 2;
            background-repeat: no-repeat;
            background-position: top left;
            background-size: cover;
            border: 1.62px solid;
            padding: 60px 40px;
            background-image: url("../../../../assets/images/vector (2).png");

            .card__title {
                font-size: 59.3px;
                font-weight: 300;
                line-height: 78.21px;
                letter-spacing: -0.04em;
                color: #E5E5E5;
                display: inline;
                background-color: transparent;
            }

            p {
                font-size: 16px;
                font-weight: 300;
                line-height: 28.8px;
                color: #E5E5E5;
                display: inline;
                background-color: transparent;
            }
        }

        .card2 {
            grid-column: 3 / span 1;

            .card2__header {
                display: flex;
                justify-content: space-between;
                background-color: transparent;
                align-items: center;

                p,
                img {
                    background-color: transparent;
                }

                p {
                    color: #fff;
                    font-size: 22.65px;
                    font-weight: 400;
                    line-height: 29.87px;
                }
            }

            p {
                margin-top: 28px;
                background-color: transparent;
                color: #fff;
                font-size: 16px;
                font-weight: 300;
                line-height: 28.8px;
            }
        }

        .card3 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 60px 40px;
            position: relative;
            overflow: hidden;

            img {
                width: 64px;
                height: 64px;
            }

            h1 {
                color: #E5E5E5;
                font-size: 59.3px;
                font-weight: 300;
                line-height: 78.21px;
                letter-spacing: -0.04em;
            }

            .bg__feature-card {
                background-color: #FFD700;
                filter: blur(100px);
                width: 320px;
                height: 120px;
                position: absolute;
                bottom: -120px;
                left: 10%;
            }
        }

        .card4 {
            .card4__header {
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    color: #fff;
                    font-size: 22.65px;
                    font-weight: 400;
                    line-height: 29.87px;
                }
            }

            p {
                margin-top: 27px;
                color: #fff;
                font-size: 16px;
                font-weight: 300;
                line-height: 28.8px;
            }
        }

        .card5 {}

        .card6 {}

        .card7 {
            grid-column: 2 / span 2;
            background-repeat: no-repeat;
            background-position: top left;
            background-size: cover;
            background-image: url('../../../../assets/images/vector (3).png');
            border: 1.62px solid;
            padding: 60px 40px;
            border-radius: 60px;
            overflow: hidden;

            .card__title {
                font-size: 59.3px;
                font-weight: 300;
                line-height: 78.21px;
                letter-spacing: -0.04em;
                color: #E5E5E5;
                display: inline;
                background-color: transparent;
                margin-bottom: 40px;
            }

            p {
                font-size: 16px;
                font-weight: 300;
                line-height: 28.8px;
                color: #E5E5E5;
                display: inline;
                background-color: transparent;
            }
        }
    }
}

.interest__section {
    padding-top: 200px;
    font-size: 0;

    .interest__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        // align-items: center;

        .interest__left-side {
            .left__header {
                .interest__subtitle {
                    color: #ADA785;
                    font-size: 22.65px;
                    font-weight: 400;
                    line-height: 29.87px;
                }

                .interest__title {
                    padding-top: 20px;
                    padding-bottom: 40px;
                    color: #fff;
                    font-size: 59.3px;
                    font-weight: 400;
                    line-height: 78.21px;
                    letter-spacing: -0.04em;

                    span {
                        color: #ADA785;
                    }
                }

                .interest__desc {
                    color: #E5E5E5;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 21.1px;
                    padding-bottom: 100px;
                }
            }

            .left__footer {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap: 50px;

                .interest__card {
                    .card__header {
                        border-bottom: 1px solid;
                        border-image-slice: 1;
                        border-image-source: linear-gradient(270deg, #262626 0%, #ADA785 87.01%, #262626 100%);

                        .card__header-title {
                            font-size: 59.3px;
                            font-weight: 300;
                            line-height: 78.21px;
                            letter-spacing: -0.04em;
                            background: linear-gradient(63.68deg, #ADA785 0%, #D6D3C2 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }

                        p {
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 28.8px;
                            color: #E5E5E5;
                        }
                    }

                    .card__desc {
                        margin-top: 40px;
                        color: #E5E5E5;
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 28.8px;
                    }
                }

                .card3 {
                    grid-column: 1 / span 2;
                }
            }
        }

        .interest__right-side {
            .phone {
                position: relative;
                width: 460px;
                // height: 868px;
                padding: 20px;
                padding-top: 50px;
                border-radius: 20px;
                z-index: 1;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: 60px;
                    padding: 2px;
                    background: linear-gradient(200.74deg, #999999 0%, #141414 100%);
                    -webkit-mask:
                        linear-gradient(#fff 0 0) content-box,
                        linear-gradient(#fff 0 0);
                    -webkit-mask-composite: xor;
                    mask-composite: exclude;
                    z-index: -1;
                }


                .phone__header {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    margin-bottom: 42px;

                    .phone__header-text {
                        .phone__header-title {
                            color: #666666;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 14.4px;
                        }

                        .phone__header-price {
                            color: #fff;
                            font-size: 36.65px;
                            font-weight: 300;
                            line-height: 43.98px;

                            span {
                                color: #666666;
                            }
                        }
                    }

                    .phone__header-img {
                        width: 48px;
                        height: 48px;


                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .phone__body {}

                .phone__footer {
                    .phone__footer-header {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: 1fr;
                        text-align: center;
                        border-bottom: 2px solid;
                        border-image-slice: 1;
                        border-image-source: linear-gradient(270deg, #262626 27.17%, #ADA785 72.66%, #262626 100%);


                        .first,
                        .second {
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 14.4px;
                        }

                        .first {
                            color: #ADA785;
                        }

                        .second {
                            color: #5C573D;
                        }
                    }

                    .phone__footer-logos {
                        display: flex;
                        flex-direction: row;
                        padding-top: 30px;
                        padding-bottom: 20px;

                        .phone__footer-cycle {
                            width: 48px;
                            height: 48px;
                            position: relative;
                            z-index: 1;

                            &::before {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                border-radius: 50%;
                                padding: 2px;
                                border: 1.62px solid;
                                background: linear-gradient(200.74deg, #999999 0%, #141414 100%);
                                -webkit-mask:
                                    linear-gradient(#fff 0 0) content-box,
                                    linear-gradient(#fff 0 0);
                                -webkit-mask-composite: xor;
                                mask-composite: exclude;
                                z-index: -1;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .first__cycle1 {
                            margin-right: 40px;
                        }

                        .first__cycle2,
                        .first__cycle3,
                        .first__cycle4,
                        .first__cycle5 {
                            margin-right: 20px;
                        }
                    }

                    .phone__footer-info {
                        background-color: #12121299;
                        border-radius: 50px;
                        padding: 40px;

                        .phone__top {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;

                            .phone__top-text {
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 34.4px;
                                color: #666666;
                            }

                            i {
                                color: #ADA785;
                                font-size: 20px;
                                line-height: 34px;
                            }
                        }

                        .phone__body {
                            .phone__row {
                                display: flex;
                                flex-direction: row;
                                align-items: center;

                                .phone__row-img {
                                    width: 36px;
                                    height: 36px;
                                    border-radius: 50%;
                                    position: relative;
                                    padding: 10px;
                                    z-index: 1;
                                    margin-right: 20px;


                                    &::before {
                                        content: '';
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        right: 0;
                                        bottom: 0;
                                        border-radius: 50%;
                                        padding: 2px;
                                        border: 1.62px solid;
                                        background: linear-gradient(200.74deg, #999999 0%, #141414 100%);
                                        -webkit-mask:
                                            linear-gradient(#fff 0 0) content-box,
                                            linear-gradient(#fff 0 0);
                                        -webkit-mask-composite: xor;
                                        mask-composite: exclude;
                                        z-index: -1;
                                    }

                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }

                                .phone__row-text {
                                    display: flex;
                                    flex-direction: column;

                                    p {
                                        color: #FFFFFF;
                                        font-size: 12px;
                                        font-weight: 400;
                                    }

                                    .text {
                                        color: #666666;
                                        font-size: 10px;
                                        font-weight: 400;
                                    }
                                }

                                .price {
                                    margin-left: auto;
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 16.8px;
                                    color: #ADA785;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.data__section {
    padding-top: 200px;

    .data__wrapper {
        display: flex;
        gap: 150px;

        .data__content {
            .data__subtitle {
                font-size: 22.65px;
                font-weight: 400;
                line-height: 29.87px;
                color: #ADA785;
            }

            .data__title {
                color: #fff;
                font-size: 59.3px;
                font-weight: 400;
                line-height: 78.21px;
                letter-spacing: -0.04em;

                span {
                    color: #ADA785;
                }
            }

            .data__desc {
                color: #E5E5E5;
                font-size: 16px;
                font-weight: 400;
                line-height: 21.1px;
                margin-top: 40px;
                margin-bottom: 100px;
            }

            .data__cards {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                column-gap: 40px;
                row-gap: 60px;

                .data__card {
                    .card__header {
                        display: flex;
                        align-items: center;
                        gap: 50px;

                        position: relative;

                        &:after {
                            content: "";
                            width: 100%;
                            height: 2px;
                            border: 1px solid;
                            position: absolute;
                            bottom: -15px;
                            border: 1px solid;
                            border-image-slice: 1;
                            border-image-source: linear-gradient(270deg, #262626 0%, #ADA785 87.01%, #262626 100%);

                        }

                        .card__header-text {
                            color: #fff;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 28.8px;
                        }
                    }

                    .card__body {
                        .card__body-text {
                            margin-top: 40px;
                            color: #E5E5E5;
                            font-size: 16px;
                            font-weight: 300;
                            line-height: 28.8px;
                        }
                    }
                }

                .data__card1 {}

                .data__card2 {}

                .data__card3 {
                    grid-column: 1 / span 2;
                }
            }
        }
    }
}

.work__section {
    padding-top: 200px;

    h4 {
        color: #ADA785;
        font-size: 22.65px;
        font-weight: 400;
        line-height: 29.87px;
    }

    h1 {
        color: #fff;
        font-size: 59.3px;
        font-weight: 400;
        line-height: 78.21px;
        letter-spacing: -0.04em;

        span {
            color: #ADA785;
        }
    }

    .header__desc {
        color: #E5E5E5;
        font-size: 16px;
        font-weight: 300;
        line-height: 28.8px;
    }

    .work__wrappper {
        margin-top: 124px;
        display: grid;
        column-gap: 40px;
        grid-template-columns: repeat(4, 1fr);

        .work__header {
            display: flex;
            align-items: center;
            gap: 40px;
            position: relative;

            &:after {
                content: "";
                width: 50%;
                height: 2px;
                border: 1px solid;
                position: absolute;
                bottom: -5px;
                border: 1px solid;
                border-image-slice: 1;
                border-image-source: linear-gradient(270deg, #262626 0%, #ADA785 87.01%, #262626 100%);
            }

            .work__card-number {
                font-size: 59.3px;
                font-weight: 300;
                line-height: 78.21px;
                background: linear-gradient(63.68deg, #ADA785 0%, #D6D3C2 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                letter-spacing: -0.04em;
            }

            p {
                color: #E5E5E5;
                font-size: 16px;
                font-weight: 400;
                line-height: 28.8px;
            }
        }

        .work__body {
            margin-top: 40px;
            color: #E5E5E5;
            font-size: 16px;
            font-weight: 300;
            line-height: 28.8px;
        }
    }
}