* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

section,
header {
    background-color: black;
}


.title {
    background: linear-gradient(63.68deg, #ADA785 0%, #D6D3C2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}